---
import MyLayout from "../layouts/MyLayout.astro";
import SplitLanding from "../components/Hero/SplitLanding.astro";
import ContactPanel from "../components/Hero/ContactPanel.astro";
import HeaderInfo from "../components/Hero/InfoHeader.astro"; 
const base = import.meta.env.BASE_URL;
---

<MyLayout title="Home">

  <div class="relative h-screen overflow-hidden">

  <div class="fixed inset-0 -z-10 pointer-events-none">
    <img
      src={`${base}images/kbg.gif`}
      class="w-full h-full object-cover opacity-100"
    />
  </div>

    <div class="absolute inset-0 z-10 bg-zinc-950/85  opacity-33 pointer-events-none" />

    <div class="relative z-20 flex h-screen flex-col min-h-0">
      <header class="absolute top-0 right-0 px-8 py-6 z-50">
        <ContactPanel />
      </header>

      <HeaderInfo 
        name="Homepage"
        description="Joaquin Herrera / Game Developer"
        portraitSrc="/me-page/images/frontPage/me.png"
        theme="secondary"
      />

      <div class="flex-1 min-h-0 w-full">
        <SplitLanding
          background=""
          left={{
            href: `${base}/portfolio/`,
            tag: "My projects",
            title: "Portfolio",
            description: "Take a look at my Unity and Unreal Engine projects.",
            actionText: "View projects",
            imageSrc: `${base}images/kbg2.gif`,
          }}
          right={{
            href: `${base}/blog/`,
            tag: "My thoughts",
            title: "Blog",
            description: "Just my thoughts on videogames, game development and movies.",
            actionText: "Read articles",
            imageSrc: `${base}images/kbg1.gif`,
          }}
          footerText="Pixel art by Kirokaze!."
        />
      </div>
    </div>

  </div>
</MyLayout>


<style is:global>
  .root-page-bg > div,
  .root-page-bg > div > div {
    position: absolute !important;
    inset: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
    max-width: none !important;
    max-height: none !important;
    border: none !important;
    border-radius: 0px !important;
    box-shadow: none !important;
  }

  .root-page-bg img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
    object-position: center !important;
  }
</style>